h1 {
  font-size: 60px;
  text-align: center;
  color: wheat;
}

.container-adaptive {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  background-color: red;
  height: 500px;
}


// _________________________
// .container-adaptive {
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;

//   background-color: red;
//   height: 500px;

//     @media screen and (min-width: 480px) {
//         max-width: 480px;
//       }

//       @media screen and (min-width: 768px) {
//         max-width: 768px;
//       }

//       @media screen and (min-width: 1200px) {
//         max-width: 1200px;
//       }
//     }

// .container-adaptive >h1{
// @media screen and (min-width: 480px){
// color: yellow;
// }
// @media screen and (min-width: 768px) {
//   color: blue;
// }
// @media screen and (min-width: 1200px) {
//   color: white;
// }
// }
